<!DOCTYPE html>
<html>
<body style="background-color:White">



<img align="left" src="https://scontent-lga3-1.xx.fbcdn.net/hprofile-xfp1/v/t1.0-1/p160x160/11221879_10205828374882743_3814769322339044981_n.jpg?oh=4d5a78bb4a6ed1f1b600cc4cbd73daab&oe=56C8BE0E" alt="Christan Joseph Gaspar" width="300" height="300"> <h1 style="text-align:left">Fetty Wap</h1>

<font size="5"style="font-family:arial">Current Classes: Cis 254JA, Math 130, English 100, DGME 100 </font>
<br> <font size="5"style="font-family:arial">Previous Classes: Math 110, Math 120, English 848, Psych 100</font>
<br> <font size="5"style="font-family:arial"> Ratings</font>
<br> <font size="5"style="font-family:arial"> Tracker</font>

</body>
</html>
